<div class="container mt-3">
  <div class="row">
  <div class="col">
    <p class="h3 fw-bold text-danger">Add Student</p>
    <p class="fst-italic">Creat New Student
       </p>
  </div>
  </div>
  <!--error message-->
  <div *ngIf="!loading && errorMessage">
    <div class="container">
      <div class="row">
        <div class="col">
          <p class="h4 text-danger fw-bold">{{errorMessage}}</p>
        </div>
      </div>
    </div>
  </div>

  <!--contact form-->
  <div class="container lg">
    <div class="row">
      <div class="col-sm-4">
        <form #registerForm="ngForm" (ngSubmit)="createSubmite()">
          <div class="md-2">
            <label for="firstName" class="form-label">FirstName</label>
            <input required="true"
            [(ngModel)]="students.firstName" name="firstName"
            class="form-control" placeholder="FirstName" type="text">
          </div>
          <div class="md-2">
            <label for="lastName" class="form-label">LastName</label>
            <input required="true"
            [(ngModel)]="students.lastName" name="lastName"
            class="form-control" placeholder="LastName" type="text">
          </div>
          <div class="md-2">
            <label for="phone" class="form-label">Phone</label>
            <input required="true"
            [(ngModel)]="students.phone" name="phone"
              class="form-control" placeholder="Phone" type="text">
          </div>
          <div class="md-2">
            <label for="gender" class="form-label">Gender</label>
            <input required="true"
            [(ngModel)]="students.gender" name="gender"
             class="form-control" placeholder="Gender" type="text">
          </div>
          <div class="md-2">

          </div>
          <div class="md-2 mt-2">
            <input class="btn btn-danger" value="Create" type="submit">
            <a class="btn btn-dark ms-2" routerLink="/">close</a>
          </div>
        </form>
      </div>
      <div class="col-sm-4">
        <img alt="" src="" class="contact-img">
      </div>
    </div>
  </div>
